@charset "ISO-8859-1";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
}

.slogan {
  text-align: center;
  background-color: #f1aaf1;
  font-size: 14px;
  padding: 5px 0;
  font-weight: 300;
  position: fixed;
  width: 100%;
  top: 100px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: rgb(61, 54, 54);
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar img {
  width: 200px;
  height: 60px;
}

nav ul {
  display: flex;
  cursor: pointer;
}
nav ul a {
  text-decoration: none;
}
nav ul li {
  margin: 0 40px;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}
nav ul li:hover {
  color: #29c91e;
  transform: translateY(-5px);
  transition: 0.3s;
}
/* Search div */
.cover_div {
  display: flex;

  align-items: center;
}
.search_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_div i {
  font-size: 20px;
  color: white;
  border-radius: 50%;

  margin: 0 10px;
}
.search_div .user {
  border: 1px solid white;
  padding: 6px;
}
.search_div .search i {
  color: black;
}
.search_div .search i:hover {
  color: red;
}
.search {
  background-color: white;
  padding: 7px 20px;
  border-radius: 50px;
  margin: 0 20px;
}
.search input {
  outline: none;
  border: 0;
  font-size: 20px;
}
/* description Img */

.description {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 170px;
}
.description h1 {
  font-size: 22px;
}
.description span {
  color: rgba(176, 13, 20, 1);
}

.Product {
  display: flex;
  padding: 20px;
  gap: 30px;
}
.Product .img_D {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product .img_D img {
  max-width: 100%;
  max-height: 100%;
}
.Product div {
  flex-basis: 50%;
}

.des {
  padding: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.des h4 {
  margin-top: 20px;
  font-size: 22px;
  text-decoration: line-through;
  color: gray;
}
.des p {
  max-width: 60%;
  font-size: 18px;
  text-align: center;
  line-height: 0.7cm;
  padding: 10px;
}
.des h3 {
  font-size: 25px;
  margin: 10px 0;
  color: rgba(176, 13, 20, 1);
}
.des button {
  padding: 10px 40px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: rgba(11, 114, 3, 1);
  font-size: 26px;
  font-weight: 800;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.des button:hover {
  background-color: #0a0a0a;
  transition: 0.3s;
}
/* Brand Start from here */

.b {
  margin: 30px auto;
  max-width: 1240px;
}

.title {
  margin: 20px 0;
  margin-top: 80px;
  text-align: center;
}
.brand img {
  width: 100px;
  background-position: center;
  background-size: contain;
  height: 100px;
}
.brand {
  max-width: 90%;
  display: flex;
  gap: 15px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 20px;
}
.brand div {
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 30px;
  width: 200px;
  height: 120px;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand div:hover {
  transform: translateY(-10px) scale(1.05);
}

/* New Launches */

/* Footer section */
.footer {
  width: 100%;
  margin-top: 80px;
  background: #0a0a0a;
}
.f {
  max-width: 1240px;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  gap: 10px;
}
.newsletter {
  flex-basis: 50%;
}

.footer .brands {
  flex-basis: 23%;
}
.footer h2 {
  padding: 4px 0;
  font-weight: 1000;
  color: white;
}
.b_name {
  display: flex;
  flex-direction: column;
}

.b_name ul li {
  list-style: none;
  font-size: 18px;
  padding: 5px;
  font-weight: 500;
  color: white;
}
.link {
  margin: 8px 0;
}

.link i {
  font-size: 30px;
  padding-right: 20px;
  color: white;
}

.contact {
  padding-top: 9px;
  color: white;
}

.contact h3 {
  padding: 4px 0;
  font-weight: 500;
}

.contact h4 {
  padding: 7px 0;
  font-weight: 500;
}

.newsletter img {
  width: 70%;
  height: 120px;
}
.newsletter h3 {
  padding: 8px 0;
  color: red;
  font-weight: 700;
}
.newsletter {
  padding: 10px;
}
.newsletter input {
  outline: none;
  padding: 12px 6px;
  width: 80%;
  border-radius: 10px 0 0 10px;
  border: 2px solid white;
}

.newsletter .input_div {
  width: 70%;
  border: none;
  display: flex;
}

.newsletter ::placeholder {
  font-size: 18px;
}
.newsletter .input_div button {
  width: 20%;
  color: red;
  border-radius: 0 10px 10px 0;
  transition: ease-in-out 0.3s;
  border: 2px solid white;

  border-left: 1px solid red;
}
.newsletter .input_div button:hover {
  background-color: black;
  transition: ease-in-out 0.3s;
}
